h1 {
	color: #2441FF;
	font-family: ‘Space Mono’, monospace;
}

body {
	padding-left: 15px;
}

p {
	padding-left: 5px;
}

a {
	color: #111111;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}